<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DailyTennis.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>6</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7BBEE324A2518949476761CD884BB8937E3E43C0</string>
				<key>dateExpires</key>
				<string>12/24/22</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>75TGX825D6.com.johnmdoll.DailyTennis</string>
				<key>com.apple.developer.team-identifier</key>
				<string>75TGX825D6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DailyTennis.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8c8c7b15-2265-4bfd-a974-26f9e1a552cd</string>
				<key>dateExpires</key>
				<string>12/24/22</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.johnmdoll.DailyTennis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>75TGX825D6</string>
				<key>name</key>
				<string>John Doll</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
